<% include ../header.ejs %>

<% if(!user) { %>
    <% include ../controls/form_login.ejs %>
<% } else { %>
    <div class="alert alert-success">Already Signed In</div>
<% } %>


<script src="/js/utilities.js"></script>