<% include ../header.ejs %>

<style>
</style>

<form method="POST" action="Register">
<div class="row loginForm">


<!--
<hr style="clear: both; display: block; width: 96%; background-color: grey; height: 1px;">
-->

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label>Profile</label>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

        <div class="form-group">
            <label for="tbFirst">First Name</label>
            <input class="form-control" name="tbFirst" type="text" placeholder="First"  required />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="form-group">
            <label for="tbOsis">Middle</label>
            <input class="form-control" name="tbMiddle" type="text" placeholder="Middle"  />
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <div class="form-group">
            <label for="tbOsis">Last Name</label>
            <input class="form-control" name="tbLast" type="text" placeholder="Last"  required />
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="form-group">
            <label for="tbOsis">OSIS</label>
            <input class="form-control" name="tbOsis" type="text" placeholder="OSIS"  required />
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <div class="form-group">
            <label for="tbOsis">Confirm OSIS</label>
            <input class="form-control" name="tbCOsis" type="text" placeholder="OSIS"  required />
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="form-group">
            <label for="tbPath">School Pathway</label>
            <select class="form-control" name="ddlPath">
                <option>Select Pathway</option>
                <option value="1">Web Design / Programming: (Adobe Certification)</option>
                <option value="2">Hardware: (A+ Certification)</option>
                <option value="3">Game Design: (Unity)</option>
                <option value="4" disabled>Robotics (Dev)</option>
            </select>
        </div>
    </div>

    <br />
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label>Account</label>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
            <label for="tbEmail">School Email</label>
            <div class="input-group">
                <input class="form-control" name="tbEmail" type="text" placeholder="user"  required />
                <spaN class="input-group-addon">@aoiths.org</span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
            <label for="tbPass">Password</label>
            <input class="form-control" name="tbPass" type="password" placeholder="******" required />
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
            <label for="tbCPass">Confirm Password</label>
            <input class="form-control" name="tbCPass" type="password" placeholder="******" required />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-default" style="float: right;">Register</button>
    </div>
</div>

</form>
<script src="/js/utilities.js"></script>
<script>
    addListener("[name=ddlPath]", "change", function(){
        if(this.selectedIndex === 4 && typeof(this.selectedIndex) === "number"){
            
        } else {
            
        }
    });

</script>
<% include ../footer.ejs %>