<% include ../../header.ejs %>


<h1> Add User </h1>


<form method="POST" action="/Administration/User/Add">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
    <input type="hidden" name="id" value="" />

    <div class="row"> 
        <div class="col-sm-4 col-md-4 col-lg-3">
            <input class="form-control" name="tbFirst" type="text" placeholder="First Name" />
        </div>
        <div class="col-sm-4 col-md-4 col-lg-3">
            <input class="form-control" name="tbLast" type="text" placeholder="Last Name" />
        </div>
        <div class="col-sm-12 col-md-4 col-lg-3">
            <input class="form-control" name="email" type="text" placeholder="Email" />
        </div>
        <div class="col-sm-12 col-md-3 col-lg-2">
            <select class="form-control">
                <option>Select Role</option>
            </select>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-1">
            <button>Add</button>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-light table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody class="">
                    <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                    </tr>
                </tbody>
                </table>
        </div>
    </div>


<% include ../../footer.ejs %>