<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/default.css" rel="stylesheet" />
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="nav">
                <a class="nav-link active" href="#">Index</a>
                <a class="nav-link" href="#">Student</a>
                <a class="nav-link" href="#">Administrator</a>
            </nav>
        </header>
        <main class="container">