<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="device-width, initial-scale=1, shrink-to-fit=no">
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/lib/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <link href="/css/default.css" rel="stylesheet" />
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <link href="/font/css/open-iconic-bootstrap.css" rel="stylesheet">
        <style>
            body {
            padding-top: 54px;
            }

            @media (min-width: 992px) {
                body {
                    padding-top: 56px;
                }
            }

            .portfolio-item {
            margin-bottom: 30px;
            }

            .pagination {
            margin-bottom: 30px;
            }
        </style>
    </head>
    <body>
        
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <a class="navbar-brand" href="/">Career and Technical Education Path Portal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                
                <% if(!user) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Login">Login</a>
                    </li>
                <% } else if(user.accountTypeID === 5) { %>
                    <li class="nav-item active">    
                            <a class="nav-link" href="#">Welcome, <%= user.email %>
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Student/">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Account/Logout">Logout</a>
                    </li>
                <% } else if(user.accountTypeID === 2 ) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administration/">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administration/Students">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administration/Reports">Reports</a>
                    </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    
        
    <main class="container" >