<% include ../../header.ejs %>

<h1><%= title %></h1>
<div class="row">
    <div class="col-lg-8 form-inline">
        <input class="form-control" id="query" type="text" placeholder="Search Students"/>
    </div>
    <div class="col-lg-2">

    </div>
    <div class="col-lg-2">
        <span class="float-right oi oi-sort-ascending"></span>
        <span class="float-right oi oi-sort-descending"></span>
    </div>
</div>
<br>
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Grade</th>
        <th scope="col">Pathway</th>
      </tr>
    </thead>
    <tbody id="rows">
    
    </tbody>
  </table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <!-- <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li> -->
    <li class="page-item">
      <a class="page-link" onclick="next()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<script>
    
    fetch('API/Students')
        .then(res => {
            console.log(res);
            return res.json();
        }).then(data => {
            populateTable(data, 1);
        });

    let currentPage = 1;

    function prevPage(){
        if(currentPage > 1){
            currentPage--;
            populateTable(currentPage);
        }
    }

    function nextPage(){
        if(currentPage < numPages){
            currentPage++;
            populateTable(currentPage);
        }
    }   

    function populateTable(arr, page){
        let html = '';
        arr.slice((page - 1) * 20, page * 20).forEach((item, indx) => {
            html += `
                <tr>
                    <td>${indx + 1}</td>
                    <td><a href="students/${item.ID}" style="color:#000; text-decoration: none">${item.lastName}, ${item.firstName}</a></td>
                    <td>${item.grade}</td>
                    <td>${item.pathway}</td>
                </tr>
            `;
        });
        let rows = document.querySelector('#rows');
        rows.innerHTML = html;
    }

    document.addEventListener('keypress', (e) => {
        if(e.key === 'Enter'){
            search();
        }
    });

    function search(){
        let query = document.querySelector("#query").value;
        fetch(`/Administration/Students?query=${query}`)
            .then(res => {
                return res.json();
            }).then(data => {
                console.log(data);
                populateTable(data);
            })
    }
</script>
<% include ../../footer.ejs %>