
<% include ../header.ejs %>
  <style>
    body {
      margin: 0;
    }
    .dvLogin {
      min-width: 310px; !important;
      text-align: center;
    }
    .panel-body img {
      max-width: 200px;
      margin: 0 auto;
    }
    .pull-right {
      float: right; !important!
    }
    .pull-left {
      float: left; !important!
    }
    .panel-title {
      font-size: 18pt;
      padding: 8px 0px;
      
    }
  </style>

  
  
  <div class="container-fluid">
        
        <div class="dvLogin panel panel-default">
          <div class="panel-body">
            <img class="img-responsive" 
                 src="http://www.cypresshills.org/wp-content/themes/parabola-nocopyrt/images/cypress-hills-ldc-logo.gif" />
            <h3 class="panel-title">Sign In</h3>
            <input class="form-control" type="text" placeholder="Email" />
            <br />
            <input class="form-control" type="password" placeholder="Password" />
            <br />
            <div class="pull-left">
              <button class="btn btn-default">Create Account / Register</button>
            </div>
            <div class="pull-right">
              <button class="btn btn-default">Login</button>
            </div>
          </div>
        </div>
    
  </div>
  
<% include ../footer.ejs %>
