<!-- 

<% include ../header.ejs %>

<style>
    
</style>

<form method="POST" action="Student/Register">
<div class="row loginForm" style="max-width: 400px;">
    
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label>Personal</label>
    </div>
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>OSIS</label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <input class="form-control" name="tbOsis" type="text"  required />
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>First Name </label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <input class="form-control" name="tbFirst" type="text"  required />
    </div>
    
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>Middle Name </label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <input class="form-control" name="tbMiddle" type="text"  required />
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>Last Name</label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <input class="form-control" name="tbLast" type="text"  required />
    </div>
    
    <br />
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <label>Account</label>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>Email</label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <input class="form-control" name="tbEmail" type="text" placeholder="user@aoiths.org"  required />
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>Password</label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <input class="form-control" name="tbPass" type="password" placeholder="******" required />
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <label>Confirm Password</label>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <input class="form-control" name="tbCPass" type="password" placeholder="******" required />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="btn btn-default pull-right">Register</button>
    </div>
</div>

</form>
<% include ../footer.ejs %>

-->