
<% include ../header.ejs %>
  <style>
    body {
      margin: 0;
    }
    .dvLogin {
      min-width: 310px; !important;
      text-align: center;
    }
    .panel-body img {
      max-width: 200px;
      margin: 0 auto;
    }
    .pull-right {
      float: right; !important!
    }
    .pull-left {
      float: left; !important!
    }
    .panel-title {
      font-size: 18pt;
      padding: 8px 0px;
      
    }
  </style>

  <div class="container">
    <br>
    <div class="row" id="grid">
      
    </div>
  </div>  

  <script>
      var data = [{
        title: "Basic Information",
        link: "Student/Info"
      }, {
        title: "Courses",
        link: "Student/Courses"
      }, {
        title: "Professional Skills",
        link: ""
      }, {
        title: "Technical Skills",
        link: "Student/Technical"
      }, {
        title: "Work-Based Learning Activities",
        link: ""
      }, {
        title: "Industry-Based Assessments [Certifications]",
        link: ""
      }]

      var html = "";

      for(var i = 0; i < data.length; i++){
        html += `<div style="border: solid black 1px; height: 100px" class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <center><a href="${data[i].link}">${data[i].title}</a></center>
          </div>`
      }


      document.querySelector("#grid").innerHTML = html;
  
    </script>
<% include ../footer.ejs %>
