<!-- Temp header until admin layout is created -->
<!DOCTYPE html>
<html>
    <head>
        <title>New School</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <form method="POST" action="new">
                <% include ./form.ejs %>
            </form>
        </div>
    </body>
</html>