<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <input class="form-control" type="text" name="tbName" placeholder="Enter name of School" />
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <input class="form-control" type="text" name="tbAddress" placeholder="Enter Address" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <input class="form-control" type="tel" name="tbPhone" placeholder="Telephone" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <input class="form-control" type="tel" name="tbFax" placeholder="Fax" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
        <input class="form-control" type="text" name="tbWebsite" placeholder="http:://school.com" />
    </div>
</div>
<div class="row">
    <input type="file" name="tbImage" />
</div>
<div class="row">
    <button class="btn btn-default pull-right">Add</button>
</div>