
<form method="POST" action="/Account/Login">
    <div class="dvLogin panel panel-default">
        <div class="panel-body">
            <img class="img-responsive" 
                src="https://pbs.twimg.com/profile_images/572161594142887936/j3bpsg6C_400x400.jpeg" />
                
            <h1 class="panel-title">Sign In</h1>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input class="form-control" name="tbEmail" type="text" placeholder="Email" />
            <br />
            <input class="form-control" name="tbPassword" type="password" placeholder="Password" />
            <br />
            <div class="pull-left">
            <button class="btn btn-default">Create Account / Register</button>
            </div>
            <div class="pull-right">
            <button class="btn btn-default">Login</button>
            </div>
        </div>
    </div>
</form>