<% include ../header.ejs %>

<div class="row">
    <div class="col-sm-12 col-md-2 col-lg-2">
        <div class="form-group">
            <label for="tbDate">Date</label>
            <input class="form-control" name="tbDate" type="text" placeholder="01/01/2001" required />
        </div>
    </div>

    <div class="col-sm-12 col-md-2 col-lg-2">
        <div class="form-group">
            <label for="ddlWblType">Work Based Learning</label>
            <select class="form-control" name="ddlWblType" required>
                <option></option>
                <% for(var i = 0; i < results.length; i++) { %>
                    <option value="<%= results[i].ID %>"> <%= results[i].type %> </option>
                <% } %>
            </select>
        </div>
    </div>
    

    <div class="col-sm-12 col-md-4 col-lg-3">
        <div class="form-group">
            <label for="tbOrg">Organization</label>
            <input class="form-control" name="tbOrg" type="text" placeholder="" required />
        </div>
    </div>


    <div class="col-sm-12 col-md-2 col-lg-2">
        <div class="form-group">
            <label for="tbHours">Hours</label>
            <input class="form-control" name="tbHours" type="text" placeholder="" required />
        </div>
    </div>

</div>


<div class="row">
    <div class="col-sm-12 col-md-9 col-lg-9">
        <div class="form-group">
            <label for="tbComment">Comment(s)</label>
            <textarea class="form-control" name="tbComments" type="text" placeholder=""></textarea>
        </div>
    </div>

    <div class="col-sm-12 col-md-1 col-lg-1">
        <div class="form-group">
            <button class="btn btn-default btnAdd">+</button>
        </div>
    </div>
</div>



    <div class="dvEntered">

    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-default">Back</button>
            <div class="pull-right">
                <button class="btn btn-default">Save</button>
                <button class="btn btn-default">Next</button>
            </div>
        </div>
    </div>

<script src="/js/utilities.js"></script>
<script>

    var row = 0,
        activities = [];

    function reset(args){

        args.forEach(function(elem){
            if(el(elem).type === "text"){
                el(elem).value = "";
            } else if(el(elem).type === "select-one"){
                var e = el(elem);
                e.selectedIndex = 0;
            }
        });
    }

    function getNames(){
        var names = el("[name]", 1);
        names.forEach((itm) => {
            console.log(itm.getAttribute("name"));
        });
    }

    addListener(".btnAdd", "click", function(){
        var html = "";

        addNewItem(["[name=tbDate]", "[name=ddlWblType]", "[name=tbOrg]", "[name=tbHours]", "[name=tbComments]"], { 
            date: "", wblType: 0, org: "", hours: 0, comments: "" 
            }, activities);

        var cols = createCol( el("[name=ddlWblType]").options[activities[ activities.length - 1].wblType].text );

        el(".dvEntered").insertAdjacentHTML("beforeEnd", createRow(cols));    
    });
</script>

<% include ../footer.ejs %>