<% include ../header.ejs %>

    <!-- >Student Name ( First Middle Last) ID / OSIS CTE Cluster: Agriculture Food & Natural Resources Architecture & Construction Arts A/V Technology & Communications Business Management & Administration Education & Training Finance Government & Public Administration
Health Science Hospitality & Tourism Human Services Information Technology Law Public Safety Corrections & Security Manufacturing Marketing Science Technology Engineering & Mathematics Transportation Distribution & Logistics DOB Gender Male Female Other
* Race White Black Asian Native American Alaska Native Native Hawaiian Pacific Islander Multi-Racial Other Hispanic Yes No IDEA Status Service Required No Service -->

    <div class="container">
        <%= info.fName %> <%= info.lName %>
        <br>
        <%= info.dob %>

        <a href="/student/info/edit"><button class="btn btn-primary">Edit</button></a>
    </div>
    

    <% include ../footer.ejs %>