<% include ../header.ejs %>
<br>
<h1><%= title %></h1>
<br>

<div class="row">
    <div class="col-sm-8 col-md-1 col-lg-1">

    </div>
    <div class="col-sm-8 col-md-3 col-lg-5">
        <div class="form-group">
            <label for="tbTech">Skill</label>
            <input class="form-control" name="tbTech" type="text" placeholder="Enter skill you have learned and/or applied." required />
        </div>
    </div>
    <div class="col-sm-8 col-md-2 col-lg-2">
        <div class="form-group">
            <label for="ddlGrade">Grade</label>
            <select name="ddlGrade" class="form-control" required>
                <option>Select Grade</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </div>
    </div>
    <div class="col-sm-8 col-md-2 col-lg-1">
        <div class="form-group">
            <label for="ddlScale">Scale</label>
            <select name="ddlScale" class="form-control" required>
                <option></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1" style="padding-top: 30px;">
        <button class="btn btn-default btnAdd" style="float: right !important;">+</button>
    </div>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Skill</th>
            <th scope="col">9th</th>
            <th scope="col">10th</th>
            <th scope="col">11th</th>
            <th scope="col">12th</th>
            </tr>
        </thead>
        <tbody>
            <% results.forEach((s, indx) => { %>          
                <tr>
                    <th scope="row"><%= indx + 1%></th>
                    <td><%= s.skill %></td>
                    <% s.assessments.forEach((a, indx) => { %>
                        <td><%= a[9 + indx] %></td>
                    <% }) %>
                </tr>
                <% }) %>        
        </tbody>
        </table>
</div>

<script src="/js/utilities.js"></script>
<script>
    var row = 0;
    var skills = [];

    document.querySelector('#empty').style.display = "show"; 

    addListener(".btnAdd", "click", function(){
        var html = "";

        addNewItem(["[name=tbTech]", "[name=ddlGrade]", "[name=ddlScale]"],
            {   skill: "",
                grade: 0,
                scale: 0}, skills);

        var cols = skills[ skills.length - 1].skill ;
        el(".dvEntered").insertAdjacentHTML("beforeEnd", createListItem(cols));
        let item = skills.length - 1;
        skills[item].id = item;

        document.querySelector('#empty').style.display = "none";
        document.querySelectorAll(".btnRemove")[skills.length - 1].addEventListener("click", (e) => {
            let listItem = e.target.parentNode;
            listItem.parentNode.removeChild(listItem);

            let i = 0;
            while(skills[i].id !== item){
                i++;
            }
            skills.splice(i, 1);

            if(skills.length == 0){
                document.querySelector('#empty').style.display = "block"; 
            }
        });

        reset();
    });

    addListener("#save", "click", () => {
        alert();
        let xhr = new XMLHttpRequest();
        xhr.open("POST", "newTech", true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(skills));
    })
</script>

<% include ../footer.ejs %>